asgiref==3.7.2
colorama==0.4.6
Django==4.1.7
django-appconf==1.0.5
django-select2==8.1.2
docx2pdf==0.1.8
gunicorn==20.1.0
pywin32==306
sqlparse==0.4.4
tqdm==4.65.0
typing_extensions==4.6.3
tzdata==2023.3
whitenoise==6.4.0